<?xml version="1.0"?>

<model>
  <name>ArUco_200</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aarifah Ullah</name>
    <email>uaarifah@gmail.com</email>
  </author>

  <description>
    An ArUco marker for number 200 from the OpenCV library. 
  </description>

</model>